<h1>Albums</h1>

<table border="2" bordercolor="blue">
  <% @albums.each do |album| %>
    <thead>
      <th>Album</th>
      <th>Players</th>
    </thead>
    <tbody>
      <tr>
      <th><%= album.name %></th>
        <td colspan="4">
          <% album.players.each do |player| %>
            <table>
              <td><%= player.name %></td>
            </table>
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>

<p>
  <%= link_to 'new player', new_player_path %> |
  <%= link_to 'new album', new_album_path %>
</p>
