
/*********** Menu *********/



.navbar-toggler-icon{

  width: 35px;
  height: 5px;
  background-color: white !important;
  margin: 6px 0;

}

.nav-link {
  /* #4a148c purple darken-4 */
  color: white ;  

}

.nav-link:hover{
  /* #00897b teal darken-1 */
  background-color: #00897b;
  color: white;
  border-radius: 10px;
}
.main-description{
  font-size: 40px;
}

/******************************/
.card-index-size{
  width: 400px;
}
.bi-check-circle-fill{
  font-size: 20px;
}
/************** Icon *****************/



.i-description{
    /****  #004d40 teal darken-4  ****/
  color: #004d40 ; 
  font-size: 25px;
}

.bi{
  font-size: 20px;
}

.bi-youtube{
  color: red;
}

.bi-linkedin{
  color: blue;
}

.bi-facebook{
  color: blue;
}
/***************************/

h5{
  /****  #004d40 teal darken-4  ****/
  color: #004d40 ;

}


h4{
  /****  #004d40 teal darken-4  ****/
  color: #004d40 ;

}
strong{
  color: #004d40 ;
}

hr{
  color: #004d40 ;
}

/********** Card *************/


/*****************************/
.mr-2{
  margin-right: 20px;
}

.bi-star{
  /******  #ffff00 yellow accent-2  ********/
  color: black;
}

.i-large{
  font-size: 100px;

  /****  #004d40 teal darken-4  ****/
  color: #004d40 !important; 
}


.rounded{
  width: 100px;
}

body{
  /*** #fafafa grey lighten-5 ***/
  background-color: #fafafa ;
}

.dropdown-item{
   /* lime accent-3  */
  background-color: #c6ff00 !important;
}

.dropdown-item:hover{
     /****  #004d40 teal darken-4  ****/
  background-color: #004d40 !important;
color: #c6ff00 !important ;

}
