<div class="container my-4">
    <div class="row d-flex justify-content-center">
        <div class="col text-center d-flex justify-content-left" >
            <form action="/people/search" class="d-flex col-sm-10">
                <input class="form-control me-2" type="search" name="key" placeholder="Search by title, name, gender and email" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
      

      
</div>